<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <imcom></imcom>
</div>
<script src="/ui/js/vue.min.js"></script>
<script src="/ui/js/vue-resource.min.js"></script>
<script src="/ui/js/vue-router.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    import test from './components/test.vue';

    Vue.component('imcom',test);
    var vm = new Vue({
        el: '#app'
    })
</script>
</body>
</html>